[submodule "build-x264/x264"]
	path = build-x264/x264
	url = https://code.videolan.org/videolan/x264.git
[submodule "build-ffmpeg/FFmpeg"]
	path = build-ffmpeg/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
